.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    background-color: #0E0E0E;
    // width: 100vw;
    // background-color: #202020;
   
}

//     .empty-icon {
//         font-size: 100px;
//         color: rgb(255, 255, 255);
//     }
// }
